<fieldset class="comment">
  <fb:editor action="http://apps.facebook.com/apictureeverydaystag/comments" labelwidth="100">  
    <h5>Comment</h5>
    <input type="hidden" value="<%= picture_id %>" name="comment[picture_id]">
    <fb:editor-textarea name="comment[text]">
      Enter a comment
    </fb:editor-textarea>

    <fb:editor-buttonset>  
      <fb:editor-button value="Add Comment"/>  
    </fb:editor-buttonset> 
  </fb:editor>
</div>


