<div class="container clearfix">
  <%= yield %>
  
  <div class="footer clearfix">
    <%= yield :pagination %>
    
    <div class="instructions">
      <strong>Instructions:</strong> Take one picture of yourself each day, every day.
    </div>
  </div>
</div>