<div class="pictures clearfix" id="picture_strip">
  <a href="#" class="previous arrow"></a>
  <ul class="clearfix">
    <% pictures.each do |p| %>
      <li>
        <%= link_to (image_tag(p.authenticated_s3_url) + content_tag(:small, p.created_at.strftime('%m/%d/%y'))), picture_path(p.parent, :page => params[:page])  %>
      </li>
    <% end %>
  </ul>
  <a href="#" class="next arrow"></a>
  <%= will_paginate pictures, :page_links => false %>
</div>

