<div class="preview"><%= next_picture.nil? ? image_tag(picture.authenticated_s3_url) : link_to(image_tag(picture.authenticated_s3_url), picture_path(next_picture)) %></div>
<div class="panel">
  <div class="about"><%= picture.created_at.strftime("%B %d, %Y at %I:%M%p") %></div>
</div>