<% content_for('header') do -%>
  <%= javascript_include_tag 'swfobject' %>
  <%= javascript_include_tag 'express_install' %>
<% end -%>

<div id="webcam_capture">
  
</div>

<script type="text/javascript">
  <%= webcam_capture_js(facebook_user.id, @user_hash) %>
</script>


<h2>Picture Timeline</h2>

<% @pictures.each do |p| %>
  <%= image_tag(p.s3_url) %>
<% end %>