<%= javascript_include_tag 'swfobject' %>
<%= javascript_include_tag 'express_install' %>

<% render :layout => "frame" do %>
  
  <div id="picture-frame"></div>
  
  <script type="text/javascript">
    <%= webcam_capture_js(facebook_user.id, @user_hash) %>
  </script>
  
  <%= render_pictures @pictures %>
<% end %>