<% content_for('header') do -%>
  <%= javascript_include_tag 'swfobject' %>
  <%= javascript_include_tag 'express_install' %>
<% end -%>

TEST CHANGES
<% render :layout => "frame" do %>
  <div class="preview" id="webcam_capture"></div>
  <script type="text/javascript">
    <%= webcam_capture_js(1234, @user_hash) %>
  </script>
<% end %>
<%= render_pictures @pictures %>