PUT WEB CAM THING HERE

<h3>Fake picture upload</h3>
<% form_for(:picture, :url => pictures_path, :html => { :multipart => true }) do |f| %>
  <%= f.file_field :uploaded_data %>
  <%= submit_tag %>
<% end %>


<h2>Picture Timeline</h2>

<% @pictures.each do |p| %>
  <%= image_tag(p.s3_url) %>
<% end %>