<div id="picture-frame">
  <%= render :partial => "picture", :object => @picture %>
</div>

<%= render_pictures @pictures, @picture %>

<div class="wall">
  <fb:wall>
    <%= render :partial => 'comments/comment', :collection => @picture.comments %>
  </fb:wall>
  
  <%= render :partial => 'comments/form', :locals => {:picture_id => @picture.id} %>
</div>