<div id="picture-frame">
  <%= render :partial => "picture", :object => @picture %>
</div>

<%= render_pictures @pictures, @picture %>

<%= render :partial => 'comments/form', :locals => {:picture_id => @picture.id} %>

<fb:wall>
  <%= render :partial => 'comments/comment', :collection => @picture.comments %>
</fb:wall>