<fieldset>
  <h5>Upload a picture</h5>
  <form action="http://apps.facebook.com/apictureeveryday/create" method="post" enctype="multipart/form-data">  
    <input type="hidden" value="<%= params[:fb_page_id] %>" name="page_id" />
    <input type="file" name="picture[uploaded_data]" />
    <input type="submit" value="Upload" />
  </form>
</fieldset>
