<fieldset>
  <h5>Upload a picture</h5>
  <form action="http://pseudothinker.com/create" method="post" enctype="multipart/form-data">  
    <input type="file" name="picture[uploaded_data]" />
    <input type="submit" value="Upload" />
  </form>
</fieldset>
