<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>A Pic A Day</title>
	<%= yield :header %>
	<%= javascript_include_tag :defaults %>
	<style type="text/css" media="screen">
	  body { font-family:"lucida grande",tahoma,verdana,arial,sans-serif; font-size:11px; margin:10px; background:#eee; }
	  
    img { border:none; }

    dt, dl, dd { margin:0; padding:0; }
    ul, li { margin:0; padding:0; list-style:none; }

    a { text-decoration:none; }
    a:link { color:#3b5298; }
    a:visited { color:#3b5298; }
    a:hover { color:#3b5298; text-decoration:none; }
    a:active { color:#3b5298; }

    small { font-size:10px; }
    
    h1, h2, h3, h4, h5 { margin:0; padding:0; }
    
    /* Hack */
    .clearfix:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    .clearfix {display: inline-block;}
    /* Hides from IE-mac \*/
    * html .clearfix {height: 1%;}
    .clearfix {display: block;}
    /* End hide from IE-mac */
    
    div.container { width:616px; background:#fff; padding:15px; }

    div.frame-container { background:#ddd; width:482px; text-align:center; margin:0 auto; padding:7px; height:410px; margin-bottom:15px; border:1px solid #666; }
    div#picture-frame { width:480px; height:360px; background:#fff; text-align:center; margin:0 auto; border:1px solid #aaa; }
    
    /* Picture Panel */
    div.frame-container div.preview { height:360px; background-color:#000; }
    div.frame-container div.panel { height:48px; width:480px; position:relative; }
    div.frame-container div.panel div.date { font-size:18px; line-height:55px; text-align:center; }
    div.frame-container div.panel div.options { position:absolute; right:0; bottom:0; }
    div.frame-container div.panel div.options a.delete { font-size:10px; }

    /* Carousel */
    div.pictures { position:relative; width:546px; margin:0 auto; padding:0 35px; }
	  div.pictures ul { background-color:#aaa; border:1px solid #666; padding:2px; width:540px; float:left; height:93px; }
	  div.pictures li { float:left; }
	  div.pictures li a { padding:3px; background:#fafafa; border:1px solid #777; display:block; float:left; margin:1px; _display:inline; }
	  div.pictures li a img { display:block; margin-bottom:3px; }
	  div.pictures li a small { display:block; text-align:center; padding:4px 1px; color:#666; }
    div.pictures li a:hover { border-color:#000; background:#fff; }
    
    /* Selected Picture */
    div.pictures li.selected a { border-color:#000; background-color:#ccc; }
    div.pictures li.selected small { color:#000; font-weight:bold; }
    
    /* Pagination */
    div.pictures div.pagination .next_page, div.pictures div.pagination .prev_page { position:absolute; height:97px; top:0; display:block; border:1px solid #666; width:34px; }
    div.pictures div.pagination .next_page { right:0; border-left:none; background:#ddd url(../images/next.gif) 50% 50% no-repeat; }
    div.pictures div.pagination .prev_page { left:0; border-right:none; background:#ddd url(../images/prev.gif) 50% 50% no-repeat; }
    div.pictures div.pagination a:hover { background-color:#fff; }
    div.pictures div.pagination span.label { display:none; }
    div.pictures div.pagination .disabled { background-color:#dadada; }
    div.pictures div.pagination .next_page.disabled { background-image:url(../images/next-disabled.gif); }
    div.pictures div.pagination .prev_page.disabled { background-image:url(../images/prev-disabled.gif); }
    
	</style>
	
</head>

<body>
  <div class="container"><%= yield %></div>  
</body>
</html>
