	<style type="text/css" media="screen">
	  body { font-family:"lucida grande",tahoma,verdana,arial,sans-serif; font-size:11px; }
	  
    img { border:none; }

    dt, dl, dd { margin:0; padding:0; }
    ul, li { margin:0; padding:0; list-style:none; }

    a { text-decoration:none; }
    a:link { color:#526ea7; }
    a:visited { color:#526ea7; }
    a:hover { color:#526ea7; text-decoration:underline; }
    a:active { color:#526ea7; }
    
    h1, h2, h3, h4, h5 { margin:0; padding:0; }
    
    /* Hack */
    .clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
    .clearfix {display:inline-block;}
    /* Hides from IE-mac \*/
    * html .clearfix {height:1%;}
    .clearfix {display:block;}
    /* End hide from IE-mac */
    
    div.container { width:646px; background-color:#f9f9f9; padding:20px 0 0 0; }
    
    /* total dimensions = 504x444 */
    #picture-frame { height:420px; width:480px; background-color:#e4e4e4; text-align:center; margin:0 auto 20px auto; padding:12px; }
    #picture-frame div.preview { height:360px; width:480px; }
    
    /* panel */
    #picture-frame div.panel { height:60px; width:480px; position:relative; }
    #picture-frame div.panel div.about { font-size:15px; text-align:left; line-height:60px; color:#666; text-align:center; font-weight:bold; }
    
    /* carousel */
    #picture-carousel { width:612px; padding:0 17px 15px 17px; }
    #picture-carousel dl { border:1px solid #d5d5d5; background-color:#fff; width:80px; padding:6px; float:left; color:#777; margin:0 4px; }
    #picture-carousel dl:hover, #picture-carousel dl.selected { border-color:#526ea7; color:#000; }
    #picture-carousel dl.picture dd.thumb { height:60px; width:80px; margin-bottom:6px; }
    #picture-carousel dl.picture dt.desc { font-size:10px; text-align:center; }
    
    /* Wall / Comment */
    div.picture-actions { padding:15px 20px; border-top:1px solid #d5d5d5; background-color:#fff; }
    div.wall-and-form { float:left; width:420px; }
    div.wall-and-form fieldset { border:0; margin:0; padding:20px 0 0 0; }
    div.wall-and-form fieldset h5 { font-size:11px; margin-left:13px; }
    div.wall-and-form fieldset textarea { height:70px; }
    ul.more-options { float:right; width:150px; }
    ul.more-options li { border-bottom:1px solid #d5d5d5; }
    ul.more-options li a { display:block; line-height:20px; font-size:11px; padding:0 3px; }
    ul.more-options li a:hover { text-decoration:none; background-color:#526ea7; color:#fff; }
    ul.more-options li.share { margin-bottom:10px; line-height:1em; border-bottom:0; }
    ul.more-options li.share a { padding-right:14px; }
    
    /* invite tab */
    ul.toggle_tabs { margin-top:10px; }
    ul.toggle_tabs li { border-bottom:none; }
    ul.toggle_tabs li, ul.toggle_tabs li a { background-color:#fff; }
    ul.toggle_tabs li a:hover { text-decoration:none; background-color:#526ea7; color:#fff; }
    ul.toggle_tabs li a.selected { background-color:#526ea7; }

    
    /* footer = text + pagination */    
    div.footer { clear:both; background:#fff; width:626px; padding:10px; border-top:1px solid #d6d6d6; }
    div.footer div.instructions { float:left; width:355px; font-size:10px; color:#888; }
    div.footer div.instructions span.highlight { background:#ffc; color:#333; padding:2px; }
    div.pagination { text-align:right; float:right; color:#888; }
    div.pagination a { font-weight:bold; padding:4px; }
    div.pagination a:hover { background-color:#526ea7; color:#fff; text-decoration:none; }
    div.pagination .next_page { margin-left:10px; }
    
    /* Inline Pagination */
    div.pagination-inline { padding:10px 15px; text-align:right; color:#888; }
    div.pagination-inline span { margin-left:8px; }
    div.pagination-inline a { margin-left:12px; }
    
	</style>

  <form id="refresher" name="refresher" action="http://apps.facebook.com/apictureeveryday/redirector">
    
  </form>
	<script type="text/javascript" charset="utf-8">
  	function do_ajax(latest_id) { 
      var ajax = new Ajax();
  	  ajax.responseType = Ajax.RAW;
  	  ajax.ondone = function(data) { 	      
  	    if (data != 'FAIL') {
          document.getElementById('refresher').submit();
  	    } else {
  	      setTimeout( function() {do_ajax(latest_id);}, 5*1000 );
  	    }
  	  } 
  	  var queryParams = { "id" : latest_id };
  	  ajax.post('http://pseudothinker.com/capture_saved', queryParams);
    }
	</script>
  
	<fb:tabs> 
    <%= fb_tab_item "Invite Friends", invite_path, :align => "right", :selected => params[:action] == 'invite' %>
  </fb:tabs>
  
  <div class="container clearfix">
    <%= yield %>
  </div>
  
  <fb:google-analytics uacct="UA-4315977-1" />